.item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-item{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.active{
    color: orange;
    composes: menu-item;
}

.inactive{
    color: black;
    composes: menu-item;
}